@import './color.scss';
@import './variable';

.AboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 4%;
    height: 350px;

    background-color: $color-blue900;
    color: $color-white;

    .profileImg {
        img {
            border-radius: 50%;
            border: 5px solid $color-white;
        }
    }

    .text-box {
        display: flex;

        gap: 16px;

        .years {
            font-size: 90px;
            font-weight: 900;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__name {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }

    .link {
        display: flex;

        gap: 12px;

        div {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 90px;
            height: 90px;
            padding: 9px;

            border: 1px solid $color-white;
            border-radius: 12px;
        }

        b {
            font-size: 24px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 12px;
        }
    }
}

@media all and (max-width: $breackpoint-mobile) {
    .AboutContainer {
        flex-direction: column;

        height: 70vh;
    }
}
