$color-black: #000;
$color-black-10: #0e111b;

$color-white: #fff;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-30: rgba(255, 255, 255, 0.3);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-10: rgba(255, 255, 255, 0.1);

$color-darkBackground: #17171c;

$color-red: rgb(255, 0, 0);

$color-primary: #ff7d9d;
$color-hover: #f86a05;
$color-area: #1c212e;

$color-blue100: #c9e2ff;
$color-blue200: #90c2ff;
$color-blue300: #64a8ff;
$color-blue400: #4593fc;
$color-blue500: #3182f6;
$color-blue600: #2272eb;
$color-blue700: #1b64da;
$color-blue800: #1957c2;
$color-blue900: #2c3950;

$color-darkThemeBlue50: #202c4d;

$color-grey100: #f2f4f6;
$color-grey200: #e5e8eb;
$color-grey300: #d1d6db;
$color-grey400: #b0b8c1;
$color-grey500: #8b95a1;
$color-grey600: #6b7684;
$color-grey700: #4e5968;
$color-grey800: #333d4b;
$color-grey900: #191f28;

$color-pink100: #ffe4ea;
$color-pink300: #ff8aa5;
