@charset "UTF-8";
a {
  text-decoration: none;
  color: #fff;
}

h2 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
}

h3 {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 700;
  color: #0e111b;
}

body {
  background-color: #c9e2ff;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}

.wrap {
  margin: 30px;
  border-radius: 30px;
  background-color: #1c212e;
}

#root > div {
  display: flex;
  flex-direction: row;
}

router-view {
  width: 65%;
}

/* 버튼 */
.btn {
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #191f28;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #194aa6;
}

.btn-primary {
  background-color: #fdc000;
  color: #0e111b;
}

.btn-primary:hover {
  background-color: #f86a05;
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 6%;
  border-radius: 20px 0px 0px 20px;
  background-color: #191f28;
}
header .logo {
  margin: 40px 0;
}
header nav {
  width: 50%;
}
header nav ul {
  color: #fff;
}
header nav ul li {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  padding: 4px;
  opacity: 0.3;
}
header nav ul li:hover {
  border-radius: 8px;
  background-color: #202c4d;
  opacity: 1;
}

.Home-Container {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  padding: 40px;
  gap: 24px;
  border-radius: 16px 0px 0px 16px;
  background-color: #e5e8eb;
}
.Home-Container .search {
  display: flex;
  justify-content: space-between;
}
.Home-Container .search .input-box {
  display: flex;
  gap: 12px;
}
.Home-Container .search .input-box input {
  width: 180px;
  padding: 6px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  color: #6b7684;
}
.Home-Container .main-banner {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 20px;
  background-color: #fff;
  background-image: url(../img/banner2.webp);
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
}
.Home-Container .main-banner .contents {
  line-height: 1.6;
}
.Home-Container .main-banner .contents span {
  color: #fff;
}
.Home-Container .main-banner .contents p {
  font-size: 20px;
}

.report {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.report .material-symbols-outlined {
  font-size: 30px;
  color: #fff;
}
.report .report-contents {
  display: flex;
  gap: 26px;
}
.report .report-contents__item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 140px;
  border-radius: 16px;
  padding: 20px 28px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}
.report .report-contents__item-box .icon {
  padding: 8px;
  border-radius: 12px;
  background-color: #1957c2;
}
.report .report-contents__item-box .icon:hover {
  background-color: #191f28;
  cursor: pointer;
  transition: 0.3s;
}
.report .report-contents__item-box .value {
  font-size: 24px;
  font-weight: 700;
}
.report .report-contents .add {
  justify-content: center;
  border: 1px dotted #1c212e;
  border-width: 5px; /* 위, 아래, 좌, 우 간격을 조절하여 점선 간격을 크게 설정 */
  opacity: 0.8;
  transition: 0.3s;
}
.report .report-contents .add .icon {
  background-color: #fff;
}
.report .report-contents .add .icon .material-symbols-outlined {
  color: #0e111b;
}
.report .report-contents .add:hover {
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29%;
  border-radius: 0px 16px 16px 0px;
  background-color: #fff;
}
section .calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
section .calendar .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #202c4d;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
}
section .calendar .header__month {
  font-size: 20px;
}
section .calendar .header__week {
  display: flex;
  gap: 15%;
  justify-content: center;
}
section .calendar .days {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
section .calendar .days span {
  padding: 12px;
  transition: 0.5s;
}
section .calendar .days .empty:hover {
  background-color: #fff;
}
section .calendar .days span:hover {
  border-radius: 12px;
  background-color: #fdc000;
  color: #fff;
  cursor: pointer;
}
section .calendar .active {
  border-radius: 12px;
  background-color: #202c4d;
  color: #fff;
}
section .calendar > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */