@import './color.scss';
@import './variable';

a {
    text-decoration: none;
    color: $color-white;
}

h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}

h3 {
    margin-bottom: 24px;

    font-size: 22px;
    font-weight: 700;
    color: $color-black-10;
}

body {
    background-color: $color-blue100;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

.wrap {
    margin: 30px;

    border-radius: 30px;

    background-color: $color-area;
}

#root > div {
    display: flex;
    flex-direction: row;
}

router-view {
    width: 65%;
}

/* 버튼 */
.btn {
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    color: $color-white;
    background-color: $color-grey900;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: $color-blue900;
}

.btn-primary {
    background-color: $color-primary;
    color: $color-black-10;
}

.btn-primary:hover {
    background-color: $color-hover;
    color: $color-white;
}

//점
.dot {
    display: block;
    content: '';

    width: 15px;
    height: 15px;

    border-radius: 50%;
    border: 5px solid $color-white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 6%;

    border-radius: 20px 0px 0px 20px;
    background-color: $color-grey900;

    .logo {
        margin: 40px 0;
    }

    nav {
        width: 50%;
        ul {
            color: $color-white;

            li {
                display: flex;
                justify-content: center;

                margin-bottom: 32px;
                padding: 4px;

                opacity: 0.3;
            }

            li:hover {
                border-radius: 8px;
                background-color: $color-darkThemeBlue50;
                opacity: 1;
            }
        }
    }
}

// home css
.Home-Container {
    display: flex;
    flex-direction: column;

    //max-width: $breackpoint-laptop;
    padding: 40px;
    gap: 24px;

    border-radius: 16px 0px 0px 16px;

    background-color: $color-grey200;

    .search {
        display: flex;
        justify-content: space-between;

        .input-box {
            display: flex;
            gap: 12px;

            input {
                width: 180px;
                padding: 6px;

                background-color: $color-white;
                border-radius: 4px;
                border: none;
                color: $color-grey600;
            }
        }
    }

    .main-banner {
        display: flex;
        flex-direction: column;

        padding: 32px;
        border-radius: 20px;

        background-color: $color-white;
        background-image: url(../img/banner2.webp);
        background-position: left;
        background-repeat: no-repeat;
        background-size: auto;

        .contents {
            line-height: 1.6;
            span {
                color: $color-white;
            }
            p {
                font-size: 20px;
            }
        }
    }
}

// report
.report {
    display: flex;
    flex-direction: column;
    color: $color-white;

    // 아이콘 크기
    .material-symbols-outlined {
        font-size: 30px;
        color: $color-white;
    }

    .report-contents {
        display: flex;
        gap: 26px;

        &__item-box {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 12px;
            width: 140px;
            border-radius: 16px;
            padding: 20px 28px;
            box-sizing: border-box;

            background-color: $color-white;
            color: $color-black;

            .icon {
                padding: 8px;

                border-radius: 12px;
                background-color: $color-blue800;
            }

            .icon:hover {
                background-color: $color-grey900;
                cursor: pointer;
                transition: 0.3s;
            }
            .value {
                font-size: 24px;
                font-weight: 700;
            }
        }

        // 추가박스
        .add {
            justify-content: center;
            border: 1px dotted $color-area;
            border-width: 5px; /* 위, 아래, 좌, 우 간격을 조절하여 점선 간격을 크게 설정 */

            opacity: 0.8;
            transition: 0.3s;

            .icon {
                background-color: $color-white;

                .material-symbols-outlined {
                    color: $color-black-10;
                }
            }
        }

        .add:hover {
            opacity: 1;
        }
    }
}

// mypage
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    width: 29%;
    padding: 40px;
    gap: 36px;

    border-radius: 0px 16px 16px 0px;
    background-color: $color-white;

    // 프로필
    article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        gap: 13%;
        width: 100%;

        .name-box {
            display: flex;
            flex-direction: row;

            gap: 12px;

            text-align: right;
            font-family: 'Oswald', sans-serif;
            font-weight: 900;

            &__textBox {
                display: flex;
                flex-direction: column;
                .name {
                    text-transform: uppercase;
                    font-size: 22px;
                }

                .email {
                    font-size: 14px;
                    color: $color-grey800;
                }
            }
        }

        .icon-box {
            display: flex;
            gap: 20px;

            .material-symbols-outlined {
                font-size: 30px;
                color: $color-primary;
            }
        }

        .profile {
            border-radius: 50%;
        }

        .dot {
            position: absolute;
            right: -4px;
            top: 43px;

            background-color: greenyellow;
        }
    }

    .calendar {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        h3 {
            margin: 0;
        }

        //달력
        .header {
            display: flex;
            flex-direction: column;

            gap: 20px;

            color: $color-darkThemeBlue50;
            font-size: 17px;
            font-family: 'Oswald', sans-serif;
            font-weight: 900;

            &-title {
                display: flex;
                gap: 0%;
                justify-content: space-between;
            }

            &__month {
                font-size: 20px;
            }
            &__week {
                display: flex;
                gap: 8%;
                justify-content: center;

                font-size: 16px;
            }
        }

        .days {
            display: flex;
            justify-content: space-between;

            font-size: 15px;

            span {
                padding: 12px;

                transition: 0.5s;
            }

            .empty:hover {
                background-color: $color-white;
            }

            span:hover {
                border-radius: 12px;

                background-color: $color-primary;
                color: $color-white;
                cursor: pointer;
            }
        }

        .active {
            border-radius: 12px;

            background-color: $color-darkThemeBlue50;
            color: $color-white;
        }
    }

    .calendar > div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        width: 100%;
    }
}
