@import './color.scss';
@import './variable';

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}

h3 {
    margin-bottom: 24px;

    font-size: 22px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    color: $color-black-10;
}

body {
    background-color: $color-blue100;
    line-height: 1.4;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.wrap {
    margin: 30px;

    border-radius: 30px;

    background-color: $color-area;
}

#root > div {
    display: flex;
    flex-direction: row;
}

router-view {
    width: 65%;
}

/* 버튼 */

.btn {
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    color: $color-white;
    background-color: $color-grey900;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: $color-blue900;
}

.btn-primary {
    background-color: $color-primary;
    color: $color-black-10;
}

.btn-primary:hover {
    background-color: $color-hover;
    color: $color-white;
}

// input 영역
.input-box {
    display: flex;
    gap: 12px;

    input {
        width: 180px;
        padding: 6px;

        background-color: $color-white;
        border-radius: 4px;
        border: none;
        color: $color-grey600;
    }
}

//점
.dot {
    display: block;
    content: '';

    width: 15px;
    height: 15px;

    border-radius: 50%;
    border: 5px solid $color-white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 6%;

    border-radius: 20px 0px 0px 20px;
    background-color: $color-grey900;

    .logo {
        margin: 40px 0;
    }

    nav {
        width: 50%;
        ul {
            color: $color-white;

            li {
                display: flex;
                justify-content: center;

                margin-bottom: 32px;
                padding: 4px;

                opacity: 0.3;

                a {
                    display: flex;

                    flex-direction: column;
                    align-items: center;
                }
            }

            li:hover {
                border-radius: 8px;
                background-color: $color-darkThemeBlue50;
                opacity: 1;
            }
        }
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: $breackpoint-mobile) {
    #root > div {
        display: flex;
        flex-direction: column;
    }

    .btn {
        height: 34px;
        padding: 0 12px;
    }

    .wrap {
        width: 100%;
        margin: 0;
        border-radius: 0;

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            width: 100%;

            .logo {
                margin: 20px 0;
            }
        }

        nav {
            width: auto;
            ul {
                display: flex;
                flex-direction: row;
                gap: 12px;

                li {
                    margin-bottom: 0;
                }
            }
        }
    }

    router-view {
        width: 100%;
    }

    h2 {
        font-size: 24px;
    }
}
