@import './color.scss';
@import './variable';

// mypage
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    width: 29%;
    padding: 40px;
    gap: 36px;

    border-radius: 0px 16px 16px 0px;
    background-color: $color-white;

    // 프로필
    article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        gap: 13%;
        width: 100%;

        .name-box {
            display: flex;
            flex-direction: row;

            gap: 12px;

            text-align: right;
            font-family: 'Oswald', sans-serif;
            font-weight: 900;

            &__textBox {
                display: flex;
                flex-direction: column;
                .name {
                    text-transform: uppercase;
                    font-size: 22px;
                }

                .email {
                    font-size: 14px;
                    color: $color-grey800;
                }
            }
        }

        .icon-box {
            display: flex;
            gap: 20px;

            .material-symbols-outlined {
                font-size: 30px;
                color: $color-primary;
            }
        }

        .profile {
            border-radius: 50%;
        }

        .dot {
            position: absolute;
            right: -4px;
            top: 43px;

            background-color: greenyellow;
        }
    }

    .calendar {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        h3 {
            margin: 0;
        }

        //달력
        .header {
            display: flex;
            flex-direction: column;

            gap: 20px;

            color: $color-darkThemeBlue50;
            font-size: 17px;
            font-family: 'Oswald', sans-serif;
            font-weight: 900;

            &-title {
                display: flex;
                gap: 0%;
                justify-content: space-between;
            }

            &__month {
                font-size: 20px;
            }
            &__week {
                display: flex;
                gap: 8%;
                justify-content: space-around;

                font-size: 16px;

                &__day {
                    display: flex;
                    justify-content: center;

                    width: 40px;
                }
            }
        }

        .days {
            display: flex;
            justify-content: space-between;

            font-size: 15px;

            span {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 40px;
                height: 40px;

                transition: 0.5s;
            }

            .empty:hover {
                background-color: $color-white;
            }

            span:hover {
                border-radius: 12px;

                background-color: $color-primary;
                color: $color-white;
                cursor: pointer;
            }
        }

        .active {
            border-radius: 12px;

            background-color: $color-darkThemeBlue50;
            color: $color-white;
        }
    }

    .calendar > div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        width: 100%;
    }
}
