@import './color.scss';
@import './variable';

.Todolist {
    .contents {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .todo-input {
            width: 88%;
        }

        .input-box {
            justify-content: space-between;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;

            padding: 16px;
            box-sizing: border-box;

            border-radius: 12px;
        }
    }
}

//로딩애니메이션
.the-loader {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .droplet_spinner {
        display: flex;
        justify-content: center;
        margin: 30px;

        .droplet {
            width: 15px;
            height: 15px;
            margin: 0 5px;

            background-color: $color-blue700;
            border-radius: 50%;
            transform-origin: center bottom;

            animation: bounce 1.2s cubic-bezier(0.3, 0.01, 0.4, 1) infinite;
        }

        .droplet:nth-child(1) {
            animation-delay: -0.4s;
        }
        .droplet:nth-child(2) {
            animation-delay: -0.2s;
        }
        .droplet:nth-child(3) {
            animation-delay: 0s;
        }
    }
}

.droplet_spinner.hide {
    display: none;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
